<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
    background-color: white;
    color:#373737;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    shape:round;
}


a:hover, a:active {
    border-bottom: 10px solid #C0B283;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;	
    background-color: white;
    color: #C0B283;		
}
</style>
</head>
<body>

<a href="/home" target="_blank"><i><b>This is a link</b></i></a>

</body>
</html>

